BeautifulSoup==3.2.1
CherryPy==3.2.2
Django==1.7.1
Flask==0.10.1
Jinja2==2.7.3
Markdown==2.4
MarkupSafe==0.23
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.3.0
Pygments==1.6
Routes==2.0
SOAPpy==0.12.0
SecretStorage==2.0.0
Theano==0.6.0
Twisted==13.2.0
Twisted-Conch==13.2.0
Twisted-Core==13.2.0
Twisted-Lore==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-News==13.2.0
Twisted-Runner==13.2.0
Twisted-Web==13.2.0
Twisted-Words==13.2.0
WebOb==1.3.1
Werkzeug==0.9.6
adium-theme-ubuntu==0.3.4
appdirs==1.4.0
## FIXME: could not find svn URL in dependency_links for this package:
apsw==3.8.2-r1
apt-xapian-index==0.45
argparse==1.2.1
beautifulsoup4==4.3.2
boto==2.32.1
bzr==2.7.0dev1
bzr-builddeb==2.8.6
calendar-indicator==0.3.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configobj==4.7.2
cssselect==0.9.1
cssutils==0.9.10
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
deluge==1.3.6
dirspec==13.10
distro-info==0.12
dnspython==1.11.1
duplicity==0.6.23
feedparser==5.1.3
fpconst==0.7.2
gmusicapi==4.0.0
gpodder==3.5.2
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
html5lib==0.999
httplib2==0.9
ipython==1.2.1
itsdangerous==0.24
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.3.3
mechanize==0.2.5
mock==1.0.1
musicbrainzngs==0.5
mutagen==1.22
mygpoclient==1.7
netifaces==0.8
neurolab==0.3.4
numpy==1.8.2
oauth==1.0.1
oauth2==1.5.211
oauth2client==1.2
oauthlib==0.6.1
oneconf==0.3.7
paramiko==1.10.1
pexpect==3.1
phablet-tools==0.1
piston-mini-client==0.7.5
praw==2.1.17
prawtools==0.17
proboscis==1.2.6.0
protobuf==2.5.0
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydns==2.3.6
pyechonest==8.0.2
pyen==2.3
pygame==1.9.1release
pygobject==3.12.0
pygpgme==0.3
pyliblzma==0.5.3
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
pytaglib==0.4.1
python-apt==0.9.3.5ubuntu1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-debianbts==1.11
python-libtorrent==0.16.13
python-wmata==0.1
pyxdg==0.25
reportbug==6.5.0
reportlab==3.0
repoze.lru==0.6
requests==2.3.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.5.2
software-center-aptd-plugins==0.0.0
system-service==0.1.6
uTidylib==0.2
ubuntu-dev-tools==0.153
unity-lens-photos==1.0
update-checker==0.10
urllib3==1.7.1
validictory==0.9.3
virtualenv==1.11.4
wadllib==1.3.2
wolframalpha==1.2
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xmltodict==0.9.0
zope.interface==4.0.5
