/* General styles for all menus */
#team-menu {
	background: #222222;
	position: fixed;
	width: 12%;
	height: 100%;
	top: 0;
	z-index: 1000;
	border: 2px solid #fffff0;
	border-top-left-radius: 10% 3%;
	border-bottom-left-radius: 10% 3%;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

#team-menu h3 {
	color: #FFFFF0;
	font-size: 1.0em;
	padding: 10%;
	margin-bottom: -13%;
	margin-top: -2%;
	font-weight: 300;
}

/* Vertical menu that slides from the left or right */

.menu-left {
	left: -12%;
}

.menu-right {
	right: -12%;
}

.menu-left.menu-open {
	left: 0px;
}

.menu-right.menu-open {
	right: 0px;
}

/* Push classes applied to the body */

.menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-push-toright {
	left: 6%;
}

.menu-push-toleft {
	left: -6%;
}

/* Transitions */

.menu,
.menu-push {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.menu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.menu-top {
		top: -110px;
	}

	.menu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.menu-vertical {
		font-size: 90%;
		width: 180px;
	}

	.menu-left,
	.menu-push-toleft {
		left: -180px;
	}

	.menu-right {
		right: -180px;
	}

	.menu-push-toright {
		left: 180px;
	}
}

.menu ul {
	list-style: none;
	padding-left: 0;
}

.menu ul > li {
	color: #fffff0;
	height: auto;
}

.role {
	font-size: 0.8vw;
	padding: 5% 0 5% 10%;
	border: 4px transparent solid;
}

.card {
	position: relative;
	display: block;
	margin-left: 10%;
}

.card > p {
	font-size: 0.8vw;
	padding-left: 12%;
	text-overflow: ellipsis;
	cursor: default;
}

.card > div {
	height: 100%;
	width: 8%;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #fffff0;
}

/* Roles Styling */
#cp {
	background-color: #29a3a3;
}

#dispatcher {
	background-color: #6b008f;
}

#medic {
	background-color: #ff9900;
}

#oe {
	background-color: #248f24;
}

#qs {
	background-color: #194719;
}

#researcher {
	background-color: #663300;
}

#scientist {
	background-color: #888888;
}

/* Card Styling */
.blue {
	background-color: #75a4ff;
}

.yellow {
	background-color: #BCAC68;
}

.black {
	background-color: #3d3d3d;
}

.red {
	background-color: #ff6666;
}

.event {
	background-color: #ffa319;
}
