/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; height: 100%; width: 100%; padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #ccc;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.main > section player {
	background: #47a3da;
	color: #fff;
}

.container > header nav a:hover:before {
	color: #fff;
}

#map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	background: url('../img/map.png') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
}

#game {
	width: 100%;
	height: 100%;
	background: #222222 no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#cities {
	width: 100%;
	height: 100%;
}

#team-button {
	border: 2px solid #fffff0;
	border-radius: 25%;
	background: #434343;
	padding: 0.45%;
	width: 2.5%;
	cursor: pointer;
	position: absolute;
	top: 4.5%;
	right: 6.5%;
	display: block;
}

#team-button:hover {
	border: 4px solid #fffff0;
	padding: 0.35%;
}

#team-button.active {
	background: #fffff0;
	border: 4px solid #fffff0;
	padding: 0.35%;
}

#build-station {
	position: absolute;
	left: 19%;
	bottom: 10%;
}

#make-cure {
	position: absolute;
	left: 19%;
	bottom: 2.5%;
}

#undo-action {
	position: absolute;
	left: 13%;
	bottom: 10%;
}

#next-phase {
	position: absolute;
	left: 13%;
	bottom: 2.5%;
}

.action {
	width: 5%;
	height: 4.5%;
	border-top-left-radius: 22% 50%;
	border-top-right-radius: 22% 50%;
	border-bottom-left-radius: 22% 50%;
	border-bottom-right-radius: 22% 50%;
	padding: 0.3%;
	font-size: 0.75vw;
}

.action:enabled {
	border: 2px solid #fffff0;
	background: #333333;
	color: #fffff0;
}

.action:hover {
	background: #fffff0;
	color: #222222;
}

.action.activated {
	background: #fffff0;
	color: #222222;
}

.action:disabled {
	border: 2px solid #666666;
	background: #333333;
	color: #666666;
}

.paused {
	width: 5%;
	height: 4.5%;
	border-top-left-radius: 22% 50%;
	border-top-right-radius: 22% 50%;
	border-bottom-left-radius: 22% 50%;
	border-bottom-right-radius: 22% 50%;
	padding: 0.3%;
	font-size: 0.75vw;
	border: 2px solid #666666;
	background: #333333;
	color: #666666;
}

#cures {
	border: 2px solid #fffff0;
	border-bottom-left-radius: 12% 28%;
	border-bottom-right-radius: 12% 28%;
	border-top: none;
	position: absolute;
	left: 80%;
	top: 0%;
	width: 8%;
	height: auto;
	background-color: #222222;
	padding-left: 0.3%;
	padding-right:0.3%;
	padding-top: 0.5%;
	padding-bottom: 0.3%;
}

#cures > * {
	width: 100%;
}

#outbreaks {
	position: absolute;
	left: 13%;
	bottom: 20%;
	height: 24%;
}

#infect-rate {
	position: absolute;
	left: 60%;
	top: 70%;
	width: 15%;
}

#text {
	font-size: 90%;
}

#logger {
	position: absolute;
	left: 36%;
	bottom: 18.5%;
	width: 43%;
	height: 4%;
	background: #222222;
	border: 2px solid #fffff0;
	border-top-left-radius: 2.5% 50%;
	border-top-right-radius: 2.5% 50%;
	border-bottom-left-radius: 2.5% 50%;
	border-bottom-right-radius: 2.5% 50%;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
	padding-left: 1.5%;
	font-size: 1vw;
	color: #fffff0;
	opacity: 0.75;
}
