/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; height: 100%; width: 100%;	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	margin: 0 auto;
}

.buttonset {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

#stats {
	border: 2px solid #fffff0;
	border-bottom-left-radius: 4% 50%;
	border-bottom-right-radius: 4% 50%;
	border-top: none;
	background: #222222;
	color: #fff;
	height: 3%;
	font-size: 10pt;
	width: 17.5%;
	position: absolute;
	left: 28%;
	top: 0%;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 1.7%;
}

#content {
	position: absolute;
	width: 100%;
	height: 80%;
	display: block;
	margin: 0 auto;
}

#content > * {
	display: inline;
	height: 80%;
	vertical-align: middle;
}

#content > img {
	pointer-events: none;
}

#content > p {
	padding-right: 2%;
	font-size: 10pt;
}

#player {
	border: 2px solid #fffff0;
	border-top-left-radius: 1.5% 10%;
	border-top-right-radius: 1.5% 10%;
	border-bottom: none;
	background: #222222;
	color: #fff;
	width: 56%;
	height: 18%;
	font-size: 0.8em;
	position: absolute;
	left: 33%;
	bottom: 0%;
	white-space: nowrap;
	overflow: auto;
}

#player > * {
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	height: 80%;
	top: 10%;
	display: inline;
}

.main > section h2 {
	font-weight: 300;
	color: #ccc;
}

#team-button {
	border: 2px solid #fffff0;
	border-radius: 25%;
	background: #434343;
	padding: 0.4%;
	width: 2.2%;
	cursor: pointer;
	position: absolute;
	top: 7%;
	right: 8%;
	display: block;
}

#team-button > img {
	height: 30%;
	width: 100%;
	pointer-events: none;
}

#team-button:hover {
	border: 4px solid #fffff0;
	padding: 0.295%;
}

#team-button.active {
	background: #fffff0;
	border-color: #a3ff447;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.main > section player {
	background: #47a3da;
	color: #fff;
}

.container > header nav a:hover:before {
	color: #fff;
}

#map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	background: url('../img/map_light.png') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
}

#game {
	width: 100%;
	height: 100%;
	background: #222222 no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#cities {
	width: 100%;
	height: 100%;
}

#pieces {
	list-style-type: none;
}

#hand > * {
	padding-left: 0.01%;
	padding-right: 0.01%;
	display: inline-block;
}

#outbreaks {
	position: absolute;
	left: 9%;
	bottom: 22%;
	height: 28%;
}

#infect-rate {
	position: absolute;
	right: 21%;
	top: 7%;
	width: 17%;
}

#player-discard {
	position: absolute;
	bottom: 2%;
	left: 26%;
	height: 14%;
}

#player-card {
	position: absolute;
	bottom: 2%;
	left: 20%;
	height: 14%;
}

#infect-discard {
	position: absolute;
	top: 5%;
	left:15%;
	height: 9.5%;
}

#infect-card {
	position: absolute;
	top: 5%;
	left: 8%;
	height: 9.5%;
}

#text {
	font-size: 90%;
}

#blue-cube {
	left: 2%;
}

#blue-cnt {
	left: 5%;
}

#yellow-cube {
	left: 11%;
}
