#player-color {
	position: absolute;
	left: 26.1%;
	bottom: 0%;
	height: 13%;
}

#player-container {
	border: 2px solid #fffff0;
	border-top-left-radius: 1.5% 10%;
	border-top-right-radius: 1.5% 10%;
	border-bottom: none;
	background: #222222;
	color: #fff;
	width: 56%;
	height: 18%;
	font-size: 0.8em;
	position: absolute;
	left: 28%;
	bottom: 0%;
	white-space: nowrap;
	overflow: auto;
	margin: 0;
}

.active-player {
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 2%;
	margin-left: -3.5%;
	overflow: auto;
}

.active-player > * {
	display: inline-block;
}

#name {
	height: 83%;
	width: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0.1%;
}

.self-unchooseable {
	border: 2px solid transparent;
}

.self-chooseable {
	border: 2px solid transparent;
}

.self-chooseable:hover {
	border: 2px solid #FFFFF0;
}

.self-chosen {
	border: 2px solid #FFFFF0;
}

#name > div {
	height: 100%;
	width: 100%;
}

.pl-card {
	height: 90%;
	width: 10.1%;
}

.pl-card > div {
	height: 100%;
	width: 100%;
}

.down {
	border: 4px solid #fffff0;
	border-radius: 5px;
}

.up {
	border: none;
}

.giveable:hover {
	border: 4px solid #fffff0;
	border-radius: 5px;
}
