body {
    background-color: #222222;
    overflow: auto;
}

#char-box {
    width: 80%;
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.role-box {
    width: 23.5%;
    padding: 0.5%;
    display: inline-block;
    overflow: auto;
}

.role-info {
    width: 95%;
    display: block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
}

.char-select {
    border: 2px solid #fffff0;
    border-radius: 15px;
    width: 100%;
    font-size: 16pt;
    padding: 2%;
    background-color: #555555;
    color: #fffff0;
}

.char-select > optgroup {
    font-size: 14pt;
}

.char-select option[disabled] {
    display: none;
}

#difficulty {
    position: absolute;
    left: 42.5%;
    top: 70%;
    border: 2px solid #fffff0;
    border-radius: 15px;
    width: 15%;
    font-size: 14pt;
    padding: 0.5%;
    background-color: #555555;
    color: #fffff0;
}

input {
    background-color: #8ab800;
    color: #fffff0;
    width: 8%;
    padding: 0.5%;
    position: absolute;
    top: 80%;
    left: 46%%;
    border: 2px solid #fffff0;
    border-radius: 15px;
    font-size: 20pt;
}

#flashes {
    display: block;
    position: absolute;
    top: 75%;
    left: 37%;
}

.flashes {
    color: red;
    list-style: none;
    font-family: "Sans";
}
