#stats {
	border: 2px solid #fffff0;
	border-bottom-left-radius: 6% 50%;
	border-bottom-right-radius: 6% 50%;
	border-top: none;
	background: #222222;
	color: #fff;
	height: 4%;
	font-size: 10pt;
	width: 17.5%;
	position: absolute;
	left: 62%;
	top: 0%;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 0.8%;
	padding-right: 0.8%;
	padding-bottom: 0.4%;
	padding-top: 0.4%;
}

#stats > * {
	width: 100%;
}
