<!DOCTYPE html>
<html id="game" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PyDemic</title>
		<meta name="description" content="Pandemic Web App" />
		<meta name="keywords" content="sliding menu, pushing menu, navigation, responsive, menu, css, jquery" />
		<meta name="author" content="Max Laponsky" />
		<link rel="icon" href="../static/img/icon.png">
		<link rel="stylesheet" type="text/css"
							   href="static/css/default.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/component.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/stats.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/player.css" />
		<script src="static/js/modernizr.custom.js"></script>
		<script src="static/js/jquery-1.11.2.js"></script>
		<script src="static/js/jquery-ui.js"></script>
		<script src="static/js/raphael.js"></script>
		<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script src="static/js/util.js"></script>
		<script src="static/js/cubes.js"></script>
		<script src="static/js/movement.js"></script>
		<script src="static/js/load.js"></script>
	</head>

	<body class="menu-push">
		{% include 'team.html' %}

		<div class="container">
			<div id="map" class="main">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <ul class=flashes>
				    {% for message in messages %}
				      <li>{{ message }}</li>
				    {% endfor %}
				    </ul>
				  {% endif %}
				{% endwith %}

				{% include 'cities.html' %}

				{% include 'outbreaks.html' %}

				{% include 'infect_rate.html' %}

				{% include 'cures.html' %}

				<button id="team-button" title="Team">
					<img src="../static/img/team.svg">
				</button>

				{% include 'stats.html' %}

				<object id="player-color" type="image/svg+xml" data="{{ active_player.piece }}">
					<h3>Fallback</h3>
				</object>

				{% include 'player.html' %}
			</div>

		</div>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/image_size.js"></script>
		<script src="../static/js/image_loc.js"></script>
		<script src="../static/js/team_menu.js"></script>
	</body>
</html>
