<!DOCTYPE html>
<html id="game" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PyDemic</title>
		<meta name="description" content="Pandemic Web App" />
		<meta name="author" content="Max Laponsky" />
		<link rel="icon" href="/static/img/favicon.ico">
		<link rel="stylesheet" type="text/css"
							   href="static/css/default.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/component.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/stats.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/player.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/team.css" />
		<link rel="stylesheet" type="text/css"
							   href="static/css/left_menus.css" />
	</head>

	<body class="menu-push">
		{% include 'team.html' %}
		{% include 'infect_cards.html' %}
		{% include 'player_cards.html' %}
		{% include 'menu.html' %}
		<div class="container">
			<div id="map" class="main">
				<div id="stage-name" hidden>INFECT STAGE</div>
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <ul class=flashes>
				    {% for message in messages %}
				      <li>{{ message }}</li>
				    {% endfor %}
				    </ul>
				  {% endif %}
				{% endwith %}

				{% include 'cities.html' %}

				{% include 'outbreaks.html' %}

				{% include 'infect_rate.html' %}

				{% include 'cures.html' %}

				{% include 'actions_count.html' %}

				<button id="team-button" title="Team">
					<img src="static/img/team_icon.svg" style="pointer-events: none;">
				</button>

				<button id="infect-button" title="Infect Discard">☣</button>
				<button id="player-button" title="Player Discard">✚</button>
				<button id="options-button" title="Options Menu">&#9776;</button>

				<button id="build-station" class="action" title="Build research station" disabled >BUILD</button>

				<button id="make-cure" class="action" title="Make cure" disabled >CURE</button>

				<button id="undo-action" class="action" title="Undo action" disabled >UNDO</button>

				<button id="next-phase" class="action" title="Go to next step" disabled >NEXT</button>

				{% include 'stats.html' %}

				<img id="player-color" src="{{ active_player.piece }}">
				<img id="cp-store" hidden class=".store-48" src="static/img/player_cards/pl-48.svg">

				{% include 'player.html' %}

				<div id="logger-box">
					<div id="logger">This is the actions log.</div>
				</div>
				<button class="choice" hidden id="accept">YES</button>
				<button class="choice" hidden id="decline">NO</button>
				<ul id="forecast" style="display: none">
					{% for card in range(48) %}
					<li id="forecast-{{card}}" class="forecast-card" style="display: none">
						<div class="{{ colors[card // 12] }}"></div>
	                    <p>{{ cards[card]['name'] }}</p>
					</li>
					{% endfor %}
				</ul>
				<div id="stage-text" hidden>CARDS</div>
				<img id="draw-0" hidden class="draw-card" src='static/img/infect_cards/inf-0.svg'/>
				<img id="draw-1" hidden class="draw-card" src='static/img/infect_cards/inf-0.svg'/>
				<img id="infect" hidden src="static/img/infect_cards/inf-0.svg"/>
			</div>

		</div>
		<script charset="utf-8" type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script charset="utf-8" src="static/js/modernizr.custom.js"></script>
		<script charset="utf-8" src="static/js/jquery-1.11.2.js"></script>
		<script charset="utf-8" src="static/js/jquery-ui.js"></script>
		<script charset="utf-8" src="static/js/velocity.js"></script>
		<script charset="utf-8" src="/static/js/classie.js"></script>
		<script charset="utf-8" src="/static/js/snap.svg-min.js"></script>
		<script charset="utf-8" src="/static/js/snap-util.js"></script>
		<script charset="utf-8" src="static/js/game/util.js"></script>
		<script charset="utf-8" src="/static/js/game/city.js"></script>
		<script charset="utf-8" src="static/js/game/cubes.js"></script>
		<script charset="utf-8" src="static/js/game/cures.js"></script>
		<script charset="utf-8" src="static/js/game/movement.js"></script>
		<script charset="utf-8" src="static/js/game/stations.js"></script>
		<script charset="utf-8" src="static/js/game/cards.js"></script>
		<script charset="utf-8" src="static/js/game/events/airlift.js"></script>
		<script charset="utf-8" src="static/js/game/events/forecast.js"></script>
		<script charset="utf-8" src="static/js/game/events/gg.js"></script>
		<script charset="utf-8" src="static/js/game/events/oqn.js"></script>
		<script charset="utf-8" src="static/js/game/events/rp.js"></script>
		<script charset="utf-8" src="static/js/game/cp_event.js"></script>
		<script charset="utf-8" src="static/js/game/phase.js"></script>
		<script charset="utf-8" src="static/js/game/undo.js"></script>
		<script charset="utf-8" src="static/js/game/load.js"></script>
		<script charset="utf-8" src="static/js/game/start.js"></script>
		<script charset="utf-8" src="static/js/game/menus.js"></script>
	</body>
</html>
