<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg id="infect-rate" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241 43.909" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
 <metadata id="metadata5954">
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <style>
 	.on {
 		fill: #fffff0;
 	}

 	.off {
 		fill: none;
 	}

 	.unselectable {
 		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
 	}
 </style>
 <g id="infect-rate-paths" transform="translate(75.5,13.137817)">
  <path id="rate-0" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(60,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="on"/>
  <path id="rate-1" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(95,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <path id="rate-2" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(130,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <path id="rate-3" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(165,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <path id="rate-4" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(200,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <path id="rate-5" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(235,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <path id="rate-6" d="m-105-17.638c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15,6.7157-15,15-15,15,6.7157,15,15z" transform="translate(270,20)" stroke="#fffff0" stroke-dasharray="none" stroke-miterlimit="4" stroke-width="1" class="off"/>
  <text class="unselectable" id="text6598" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.5574951" x="-64.265625" font-family="Arial" line-height="125%" fill="#92ff49"><tspan id="tspan6600" x="-64.265625" y="7.5574951">2</tspan></text>
  <text class="unselectable" id="text6602" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.5574951" x="-29.265625" font-family="Arial" line-height="125%" fill="#92ff49"><tspan id="tspan6604" x="-29.265625" y="7.5574951">2</tspan></text>
  <text class="unselectable" id="text6606" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.5574951" x="5.734375" font-family="Arial" line-height="125%" fill="#92ff49"><tspan id="tspan6608" x="5.734375" y="7.5574951">2</tspan></text>
  <text class="unselectable" id="text6610" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.458374" x="40.57373" font-family="Arial" line-height="125%" fill="#8ae62e"><tspan id="tspan6612" x="40.57373" y="7.458374">3</tspan></text>
  <text class="unselectable" id="text6614" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.458374" x="75.57373" font-family="Arial" line-height="125%" fill="#8ae62e"><tspan id="tspan6616" x="75.57373" y="7.458374">3</tspan></text>
  <text class="unselectable" id="text6618" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.46521" x="110.59766" font-family="Arial" line-height="125%" fill="#6bb224"><tspan id="tspan6620" x="110.59766" y="7.46521">4</tspan></text>
  <text class="unselectable" id="text6622" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="14px" font-style="normal" font-stretch="normal" font-variant="normal" y="7.46521" x="145.59766" font-family="Arial" line-height="125%" fill="#6bb224"><tspan id="tspan6624" x="145.59766" y="7.46521">4</tspan></text>
  <text class="unselectable" id="text6630" style="writing-mode:lr-tb;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" font-size="12px" font-style="normal" font-stretch="normal" font-variant="normal" y="30.654175" x="0.38671875" font-family="Arial" line-height="125%" fill="#fffff0"><tspan id="tspan6632" x="0.38671875" y="30.654175">INFECTION RATE</tspan></text>
 </g>
</svg>
