<div id="player">

    <!-- <div id="text">
        <p id="role">QUARANTINE SPECIALIST</p>
    </div> -->
    <div id="name">
        <img id="active-role" title="{{ active_player.get_role() }}" src="{{ active_player.title }}" height="80%">
    </div>
    <div id="hand">
        {% for card in active_player.hand %}
            <img id="card-{{ card }}" draggable="true" title="{{ cards[card]['name'] }}&#013; Population: {{ '{:,}'.format(cards[card]['population']*1000) }}" src="{{ cards[card]['player_card'] }}" height="100%">
        {% endfor %}
    </div>
</div>
