<div id="player">

    <!-- <div id="text">
        <p id="role">QUARANTINE SPECIALIST</p>
    </div> -->

    <div id="hand">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
        <img draggable="true" src="static/img/rect.svg" height="100%">
    </div>
</div>
