<!DOCTYPE html>
<html>
    <head>
        <meta name="google-signin-client_id" content="371660565684-4jqrhi9bjdci61cvuba1ojm94hb1suao.apps.googleusercontent.com">
        <link rel="stylesheet" type="text/css"
                               href="../static/css/setup.css" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script charset="utf-8" type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
        <script src="../static/js/modernizr.custom.js"></script>
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
        <script src="../static/js/update_menus.js"></script>
        <script src="../static/js/login.js"></script>
        <title>PyDemic</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div id="flashes">
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
          </div>
          {% endif %}
        {% endwith %}

        {% if 'google_token' not in session %}
        <a id="google-sign-in" href={{url_for('login.login_user')}}>Sign-In with Google</a>
        <form action="">
            <input id="continue" type="submit" value="Resume" disabled>
        </form>
        {% else %}
        <a id="google-sign-out" href={{url_for('login.logout_user')}}>Sign Out</a>
        {% if can_resume %}
        <form action="{{ url_for('load.resume') }}">
            <input id="continue" type="submit" value="Resume">
        </form>
        {% else %}
        <form action="{{ url_for('load.resume') }}">
            <input id="continue" type="submit" value="Resume" disabled>
        </form>
        {% endif %}
        {% endif %}
        <form action="" method="post" name="setup">
            {{form.hidden_tag()}}
            <div id="char-box">
                <div id="char0-box" class="role-box">
                    <img id="char0-info" class="role-info" src="../static/img/roles/random_info.svg">
                    {{ form.char0(class_="char-select") }}
                </div>
                <div id="char1-box" class="role-box">
                    <img id="char1-info" class="role-info" src="../static/img/roles/random_info.svg">
                    {{ form.char1(class_="char-select") }}
                </div>
                <div id="char2-box" class="role-box">
                    <img id="char2-info" class="role-info" src="../static/img/roles/random_info.svg">
                    {{ form.char2(class_="char-select") }}
                </div>
                <div id="char3-box" class="role-box">
                    <img id="char3-info" class="role-info" src="../static/img/roles/none_info.svg">
                    {{ form.char3(class_="char-select") }}
                </div>
            </div>
            {{ form.difficulty }}
            <input type="submit" value="Play">
            {% for error in form.char0.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.char1.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.char2.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.char3.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.difficulty.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </form>
    </body>
</html>
