<div id="stats">
    <!-- Created with Inkscape (http://www.inkscape.org/) -->
    <svg id="stats-svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 808.65 64.309" height="100%" width="100%" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
     <defs id="defs3055">
      <filter id="filter3976-1" color-interpolation-filters="sRGB">
       <feGaussianBlur id="feGaussianBlur3978-1" stdDeviation="5" result="result91"/>
       <feComposite id="feComposite3980-0" operator="over" in2="result91" in="SourceGraphic"/>
      </filter>
      <filter id="filter4289" color-interpolation-filters="sRGB">
       <feGaussianBlur id="feGaussianBlur4291" stdDeviation="5" result="result91"/>
       <feComposite id="feComposite4293" operator="over" in2="result91" in="SourceGraphic"/>
      </filter>
      <filter id="filter4295" color-interpolation-filters="sRGB">
       <feGaussianBlur id="feGaussianBlur4297" stdDeviation="5" result="result91"/>
       <feComposite id="feComposite4299" operator="over" in2="result91" in="SourceGraphic"/>
      </filter>
     </defs>
     <metadata id="metadata3058">
      <rdf:RDF>
       <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
       </cc:Work>
      </rdf:RDF>
     </metadata>
     <g id="stats-gps" transform="translate(-88.341897,-363.32206)">
      <g id="stats-yellow">
       <g id="g4605" transform="translate(-1.4601576,0)">
        <text id="1-cnt" font-size="41px" font-weight="normal" xml:space="preserve" style="word-spacing:0px;letter-spacing:0px;text-anchor:middle;text-align:center;" line-height="775%" y="410.69159" x="318.66327" font-family="Sans" font-style="normal" fill="#000000"><tspan id="tspan3093-9" y="410.69159" x="318.66327" font-size="41px" fill="#fffff0">{{ game.cubes_left[1] }}</tspan></text>
       </g>
       <rect id="rect3073-5-8" stroke-width="9.9061" stroke-dasharray="none" transform="matrix(0.32654744,0,0,0.32654744,309.14544,293.94172)" ry="15.342" filter="url(#filter3976-1)" width="140.09" stroke="#fffff0" stroke-miterlimit="4" y="240.89" x="-236.04" height="140.09" fill="#c2c200"/>
      </g>
      <g id="stats-blue">
       <g id="g4599">
        <text id="0-cnt" font-size="41px" font-weight="normal" xml:space="preserve" style="word-spacing:0px;letter-spacing:0px;text-anchor:middle;text-align:center;" line-height="775%" y="410.69159" x="176.69548" font-family="Sans" font-style="normal" fill="#000000"><tspan id="tspan3093" y="410.69159" x="176.69548" font-size="41px" fill="#fffff0">{{ game.cubes_left[0] }}</tspan></text>
       </g>
       <rect id="rect3073-5-88" stroke-width="9.9061" stroke-dasharray="none" transform="matrix(0.32654744,0,0,0.32654744,309.14544,293.94172)" ry="15.342" filter="url(#filter3976-1)" width="140.09" stroke="#fffff0" stroke-miterlimit="4" y="240.89" x="-666.32" height="140.09" fill="#00F"/>
      </g>
      <g id="stats-black">
       <rect id="rect3073-5" stroke-dasharray="none" ry="5.0099" height="45.746" width="45.746" stroke="#fffff0" stroke-miterlimit="4" y="372.6" x="372.57" stroke-width="3.2348" fill="#000"/>
       <text id="2-cnt" style="letter-spacing:0px;text-anchor:middle;word-spacing:0px;text-align:center;" font-family="Sans" font-size="41px" line-height="775%" y="410.69159" xml:space="preserve" font-style="normal" x="457.71075" font-weight="normal" fill="#000000"><tspan id="tspan3093-3" font-size="41px" y="410.69159" x="457.71075" fill="#fffff0">{{ game.cubes_left[2] }}</tspan></text>
      </g>
      <g id="stats-research" transform="translate(-5.8406406,0)">
       <path id="path3931" filter="url(#filter4289)" transform="translate(0,2.459165e-6)" fill="#fffff0" d="m687.79,369.16,26.312,23.389,0,29.236-52.624,0,0-29.236z"/>
       <text id="research-cnt" style="word-spacing:0px;letter-spacing:0px;text-anchor:middle;text-align:center;" line-height="775%" font-family="Sans" xml:space="preserve" font-size="41px" y="410.40131" x="739.789" font-weight="normal" font-style="normal" fill="#000000"><tspan id="tspan3093-4-4" y="410.40131" x="739.789" font-size="41px" fill="#fffff0">{{ 6 - game.research_stations|length }}</tspan></text>
      </g>
      <g id="stats-cards" font-weight="normal" transform="translate(-6.0000606,0)" font-family="Sans" font-style="normal" fill="#000">
       <text id="text2993" font-size="12.17604256px" xml:space="preserve" transform="matrix(0.9181498,0,0,0.9181498,-11.068307,34.456669)" filter="url(#filter4295)" style="word-spacing:0px;letter-spacing:0px;" y="422.79184" x="861.23975" line-height="125%"><tspan id="tspan2995" font-size="81.17362213px" font-weight="normal" style="writing-mode:lr-tb;text-anchor:start;text-align:start;" font-style="normal" font-stretch="normal" line-height="125%" font-variant="normal" y="422.79184" x="861.23975" font-family="Sans" fill="#fffff0">✚</tspan></text>
       <text id="player-cards-cnt" style="word-spacing:0px;letter-spacing:0px;text-anchor:middle;text-align:center;" xml:space="preserve" font-size="41px" line-height="775%" y="410.69159" x="879.20959"><tspan id="tspan3093-4-4-4" y="410.69159" x="879.20959" font-size="41px" fill="#fffff0">{{ game.player_cards.get_deck()|length }}</tspan></text>
      </g>
      <g id="stats-red">
       <g id="g4617" transform="translate(-4.3804283,0)">
        <text id="3-cnt" font-size="41px" font-weight="normal" xml:space="preserve" style="word-spacing:0px;letter-spacing:0px;text-anchor:middle;text-align:center;" line-height="775%" y="410.69159" x="602.59882" font-family="Sans" font-style="normal" fill="#000000"><tspan id="tspan3093-4" y="410.69159" x="602.59882" font-size="41px" fill="#fffff0">{{ game.cubes_left[3] }}</tspan></text>
       </g>
       <rect id="rect3073-5-6" stroke-dasharray="none" ry="5.0099" height="45.746" width="45.746" stroke="#fffff0" stroke-miterlimit="4" y="372.6" x="513.08" stroke-width="3.2348" fill="#F00"/>
      </g>
     </g>
    </svg>
</div>
