<div id="stats">
    <div id="content">
        <img id="blue-cube" src="static/img/blue_cube.svg" height="100%" title="Blue cubes remaining">
        <p>24</p>
        <img id="yellow-cube" src="static/img/yellow_cube.svg" height="100%" title="Yellow cubes remaining">
        <p>24</p>
        <img id="black-cube" src="static/img/black_cube.svg" height="100%" title="Black cubes remaing">
        <p>24</p>
        <img id="red-cube" src="static/img/red_cube.svg" height="100%" title="Red cubes remaining">
        <p>24</p>
        <img id="research" src="static/img/research.svg" height="100%" title="Research stations remaining">
        <p>6</p>
        <img id="pl-card-mk" src="static/img/pl_card.svg" height="100%" title="Player cards remaining">
        <p>35</p>
    </div>
</div>
