<div class="menu menu-vertical menu-right" id="team-menu">
    <h3>TEAM</h3>
    <ul class="players">
        {% for player in team %}
        <li>
            <ul id="{{ player.get_id() }}-box" class="team-player">
                <li id="{{ player.get_id() }}" class="role">{{ player.get_role() }}</li>
                {% for card in range(cards|length-1) %}
                <li id="{{ player.get_id() }}-card-{{ card }}" class="card">
                    <div class="{{ colors[card // 12] }}"></div>
                    <p>{{ cards[card]['name'] }}</p>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
