<div class="menu menu-vertical menu-right" id="team-menu">
    <h3>TEAM</h3>
    <ul class="players">
        <li>
            <ul class="player-hand">
                <li id="researcher" class="role">RESEARCHER</li>
                <li class="card"><div class="blue"></div> <p>SAN FRANCISCO</p> </li>
                <li class="card"><div class="black"></div> <p>ISTANBUL</p> </li>
                <li class="card"><div class="event"></div> <p>RESEARCH GRANT</p> </li>
            </ul>
        </li>
        <li>
            <ul class="player-hand">
                <li id="scientist" class="role">SCIENTIST</li>
                <li class="card"><div class="red"></div> <p>HO CHI MINH CITY</p> </li>
            </ul>
        </li>
        <li>
            <ul class="player-hand">
                <li id="oe" class="role">OPERATIONS EXPERT</li>
                <li class="card"><div class="yellow"></div> <p>RIO DE JANIERO</p> </li>
            </ul>
        </li>
    </ul>
</div>
